#newQestion{
margin-top:30%;
}

header{
background-color:white;
-moz-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}

#lien{
color:white;
}

#coverHead{
background-image: url("../image/bann.jpg");

}

#bonneReponse{
	float: left;
	padding-left: 150px;
	color: green;
	font-size: 16px;
}

#mauvaiseReponse{
	padding-right: 150px;
	color: red ;
	font-size: 16px;
}

#atpa{
margin-bottom:2%;
font-size:500%;
color:Indigo;
}

#question{
font-size:200%;
}

#titrequestetu{
font-size:200%;
margin-top:-5%;
padding-top:2.5%;
margin-bottom:-5%;
}

