<!DOCTYPE html>
<html>
	<head>
		<title>Accueil ATPA</title>
		<meta CHARSET="utf-8" />

		<!-- Librairire bootstrap-->
		{% load staticfiles %}
		<!--<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap.css" %}' media="screen"/>-->
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap.min.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap-responsive.min.css" %}' media="screen" />
		
		<!--Autres-->
		<script type="text/javascript" src='{% static "appli/js/styleSup.js" %}'></script>
		<link rel="stylesheet" href='{% static "appli/css/style.css" %}' media="screen" /> <!--CSS perso -->
		<script type="text/javascript" src='{% static "appli/js/jquery.js" %}'></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="col-xs-12">
				<header id="coverHead" class="page-header">
			</div>
		</div>
	</body>