<!DOCTYPE html>
<html>
	<head>
		<title>Accueil Enseignant</title>
		<meta CHARSET="utf-8" />
		<!-- Librairire bootstrap-->
		{% load staticfiles %}
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap.min.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap-responsive.min.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/css/typeahead.css" %}' media="screen" />
		<!--Autres-->
		<script type="text/javascript" src='{% static "appli/jquery-qrcode-master/src/jquery.qrcode.min.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/js/styleSup.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/js/jquery.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/js/typeahead.js" %}'></script>

		<script type="text/javascript">
			$(function(){
				var values = [];
				{% for question in question_list %}
					
					values.push('{{ question.libelle }}')
					
				{% endfor %}	


 				var substringMatcher = function(strs) {
				  	return function findMatches(q, cb) {
					    var matches, substringRegex;
					    // an array that will be populated with substring matches
					    matches = [];
					    // regex used to determine if a string contains the substring `q`
					    substrRegex = new RegExp(q, 'i');
					    // iterate through the pool of strings and for any string that
					    // contains the substring `q`, add it to the `matches` array
					    $.each(strs, function(i, str) {
					      if (substrRegex.test(str)) {
					        // the typeahead jQuery plugin expects suggestions to a
					        // JavaScript object, refer to typeahead docs for more info
					        matches.push({ value: str });
					      }
					    });
					    cb(matches);
				  	};
				};

				$('.typeahead').typeahead(null, {
					name: 'questions',
					source: substringMatcher(values)
				});
			});
		</script>
	</head>

	<body>
		<header class="jumbotron">
			<div class="row">
					<a href="/appli/deconnexion" class="btn btn-danger btn-xs pull-right" >
						Déconnexion <span class="icon-white icon-off"></span>
					</a>

					<a href="{% url 'new_question' %}" class="btn btn-primary btn-xs pull-left">Créer une nouvelle question</a>
			</div>

			<div class="row text-center">
				<h1 class="text-center"><small>Bienvenue {{user.username}}</small></h1>	
			</div>

		
		</header>
		<div class="container theme-showcase">			
			<div class="jumbotron col-md-6 col-sm-7" id="question">
				<h3>Rechercher une question</h3>
				<form method="POST">{% csrf_token %}
					<input type="text" class="input-medium search-query typeahead">
					<button type="submit" class="btn btn-primary">Rechercher</button>
				</form>

				<h3>Questions</h3>
				<ul id="listeQuestion" class="list-unstyled">
					{% for question in question_list %}
						<li><a href="/appli/accueil/{{question.id}}" title="cliquer ici pour accéder à la question">
						{{ question.libelle }} </a> </li>
						
					{% endfor %}
				</ul>
			</div>

			{% if question %}			
			<div class="col-md-5 col-md-offset-1 col-sm-4 col-sm-offset-1 well" id="afficherQuestion">
				<form method="POST" action="/appli/question/{{ question_id }}/">{% csrf_token %}
					<b>{{ question }}</b>
					<p>Temps pour répondre : {{ temps }} secondes</p>

					<p>Réponses possibles :
						<ul>
							{% for reponse in maReponse %}{{ question.id }}
								<li>{{ reponse.libelle }}
								{% if reponse.reponseValide == True %}
									Vrai
								{% elif reponse.reponseValide == False %}
									Faux
								{% endif %}
								</li>

							{% endfor %}
						</ul>
					</p>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Charger la question</button>
					</div>
				</form>
			</div>
			{% else %}
			{% endif %}
		</div>
	</body>
</html>
