<!DOCTYPE html>
<html>
	<head>
		<title>Accueil Enseignant</title>
		<meta CHARSET="utf-8" />

		{% load staticfiles %}
		<!-- CSS -->
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap.min.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/css/typeahead.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/css/style.css" %}' media="screen" /> 
		<!-- JS -->
		
		<script type="text/javascript" src='{% static "appli/js/jquery.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/jquery-qrcode-master/src/jquery.qrcode.min.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/js/typeahead.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/bootstrap/js/bootstrap.min.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/js/styleSup.js" %}'></script>

		<script type="text/javascript">
			$(function(){
				var values = [];
				{% for question in question_list %}
					
					values.push({
						id:'{{question.id}}',
						libelle:'{{ question.libelle }}',
						href:"{% url 'affichageQuestion' question_id=question.id %}"
					});
					
				{% endfor %}	

				var substringMatcher = function(strs) {
					return function findMatches(q, cb) {
						var matches = [];
						var substrRegex = new RegExp(q, 'i');
						$.each(strs, function(i, str) {
						  	if (substrRegex.test(str['libelle'])) {
								matches.push({ value: str['libelle'] });
						  	}
						});
						cb(matches);
					};
				};

				$('.typeahead').typeahead(null, {
					name: 'questions',
					source: substringMatcher(values)
				});

				$(".typeahead").on("keyup", function(e){
					e.preventDefault();
					var caracter = $(".typeahead").eq(1).typeahead('val');
					var matches = [];
					var substrRegex = new RegExp(caracter, 'i');
					$("ul#listeQuestion").html("");
					for (var i=0; i<=values.length-1; i++) {
						if (substrRegex.test(values[i]["libelle"])) {
							$("ul#listeQuestion").append("<li><a href=\""+values[i]["href"]+"\" title=\"cliquer ici pour accéder à la question\">"+values[i]["libelle"]+"</a></li>");
						}
					};
				});

			});
		</script>
	</head>

	<body>
		<header class="jumbotron">
			<div class="row">
				<div class="col-lg-12">
					<a href="{% url 'new_question' %}" class="btn btn-primary btn-xs pull-left">
						<span class="glyphicon glyphicon-pencil"></span> Nouvelle question
					</a>
					<a href="{% url 'deconnexion' %}" class="btn btn-danger btn-xs pull-right" >
						<span class="glyphicon glyphicon-off"></span> Déconnexion
					</a>
				</div>
			</div>

			<div class="row">
				<h1 class="text-center"><small>Bienvenue {{user.username}}</small></h1>	
			</div>
		</header>

		<div class="container theme-showcase">			
			<div class="jumbotron col-sm-6 col-md-5" id="question">
				<h3>Questions</h3>
				<input type="text" class="input-sm typeahead" placeholder="Rechercher question"/>
				<ul id="listeQuestion" class="list-unstyled"> 
					{% for question in question_list %}
						<li>
							<a href="{% url 'affichageQuestion' question_id=question.id %}" title="cliquer ici pour accéder à la question">
								{{ question.libelle }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			{% if question %}			
				<div class="col-md-6 col-md-offset-1 col-sm-5 col-sm-offset-1 well" id="afficherQuestion">
					<form method="POST" action="{% url 'question_posee' question_posee_id=question_id %}">{% csrf_token %}
						<b>{{ question }}</b>
						<p>Temps pour répondre : {{ temps }}</p>

						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
						      		<h4 class="panel-title">
							        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							          		Réponses possibles :
							        	</a>
						      		</h4>
							    </div>
							    <div id="collapseOne" class="panel-collapse collapse">
							      	<div class="panel-body">
							        	<ul>
											{% for reponse in maReponse %}{{ question.id }}
												<li class='noneStyle'>
													{% if reponse.reponseValide == True %}
														<span class="glyphicon glyphicon-ok" style='color:green'></span>
													{% elif reponse.reponseValide == False %}
														<span class="glyphicon glyphicon-remove" style='color:red'></span>
													{% endif %}
													{{ reponse.libelle }}
												</li>
											{% endfor %}
										</ul>
							      	</div>
							    </div>
						  	</div>
					  	</div>
  						
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Charger la question</button>
						</div>
					</form>
				</div>
			{% endif %}
		</div>
	</body>
</html>
