<!DOCTYPE html>
<html>
	<head>
		<title>Accueil ATPA</title>
		<meta CHARSET="utf-8" />

		<!-- Librairire bootstrap-->
		{% load staticfiles %}
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap.min.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap-responsive.min.css" %}' media="screen" />
		
		<!--Autres-->
		<script type="text/javascript" src='{% static "appli/js/styleSup.js" %}'></script>
		<link rel="stylesheet" href='{% static "appli/css/style.css" %}' media="screen" /> <!--CSS perso -->
		<script type="text/javascript" src='{% static "appli/js/jquery.js" %}'></script>
	</head>

	<body>
		<div class="container-fluid jumbotron">
			<form class="form-inline pull-right" id="formconnexion" method="POST">
				{% csrf_token %}
				{{ form.username }}<br>
				{{ form.password }}<br>
				<button type="submit" title="Cliquer ici pour vous connecter" class="btn btn-primary btn-xs pull-right">Se connecter</button>
			</form>

			<header id="coverHead">
				<img id="iut" src="../../static/appli/image/Logo-univ-orleans.png">
				<!-- <img id="iut" src="../../static/appli/image/ordi.jpg">
				<img id="iut" src="../../static/appli/image/tablette.jpg"> -->
				<h1 class="col-xs-offset-2  col-xs-2" id="atpa">ATPA</h1>
			</header>
		</div>
			
		<!-- <div id="coEtu" class="text-center">	
			<a class="btn btn-primary btn-lg text-center" href="../question_en_ligne" title="Cliquer ici pour commencer">Commencer</a>
		</div>	 -->
		
		<div class="col-xs-offset-2 col-xs-8">
			<p class="text-center lead">Utilisez vos équipements personnels
				(téléphone, ordinateur, tablette) pour répondre aux questions posées.
			</p>
		</div>
	</body>

</html>

