<!DOCTYPE html>

<html>
	<head>
		<title>Question en cours</title>
		<meta CHARSET="utf-8" />
		<!-- Librairire bootstrap-->
		{% load staticfiles %}
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap.min.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap-responsive.min.css" %}' media="screen" />
		
		<!--Autres-->
		<script src='{% static "appli/bootstrap/js/styleSup.js" %}'></script>
		<script src='{% static "appli/bootstrap/js/jquery.js" %}'></script>	
		<script type="text/javascript" src='{% static "appli/js/jquery.js" %}'></script>

		<script type="text/javascript" src='{% static "appli/jquery-qrcode-master/jquery.qrcode.min.js" %}'></script>
		<link rel="stylesheet" type="text/css" href='{% static "appli/css/style.css" %}' media="screen" />       


		<script src='{% static "appli/js/chart.js" %}'></script>
		<script src='{% static "appli/js/scriptgraph.js" %}'></script>
		<link rel="stylesheet" type="text/css" href='{% static "appli/css/style.css" %}' media="screen" />

		<script>
			$(function(){
				var url = "{% url 'question_reponse' enseignant_id=user.id %}";
				jQuery('#qrcode').qrcode({
					width: 512,
					height: 512,
					render	: "canvas",
					text	: url
				});		
			});	
		</script>
	</head>
	<body>

	<!-- Si l'utilisateur est connecté -->
	{% if user.is_authenticated %}
		<section class="container-fluid">
			
			<header class="page-header">
				<a id="lien" href="{% url 'accueil' %}" title="cliquer ici pour revenir à l'acceuil Enseignant">Accueil</a>
			</header>
			<div class="row">

				<div class="col-lg-6">
					<div id="qrcode"></div>
				</div>

				<div class="col-lg-6">
					<section id="question" class="container-fluid text-center ">
			
						<h1>{{question_ligne.question.libelle}}</h1>

						<div class="decompte">
							{{question_ligne.dureeActivite}}
						</div> 
						
						<section class="btn-group">
							<button class="btn btn-primary btn-large" title="Cliquer ici pour Afficher/masquer le graphique" onclick="calculer()">
								<span class="glyphicon glyphicon-stats"></span> Graphique
							</button>

							<button class="btn btn-primary btn-large" title="Cliquer ici pour Afficher/masquer la réponse" onclick="reponse()">
								Réponse
							</button>

							<!-- <button class="btn btn-primary btn-large" title="Cliquer ici pour arréter le compte à rebourg" onclick="stopTime()">
								Stop
							</button> -->
						</section>
					</section>
					
					<section class="well text-center span5 offset4" id="reponseEns">
						Réponses
					</section>
					
					<script type="text/javascript" >calculer();</script>
					<canvas id="graph" width="600" height="500"></canvas>
				</div>

			</div>
			
	{% else %}
		{% if question_ligne %}

			<section class="container-fluid">
				
				<header id="headquestetu" class="page-header well">
					<a href="{% url 'accueil' %}" title="Page d'acceuil">Acceuil</a>
				</header>
			
				<div id="question" class="text-center">
					<h3>{{ question_ligne.question.libelle }}</h3>
				</div>

				<form action="{% url 'reponse' question_ligne_id=question_ligne.id %}" method="POST">{% csrf_token %}

					<input type="hidden" name="question" value="{{ question_ligne.question.id }}">

					{% for reponse in reponses %}

						{% if question_ligne.question.typeQuestion.libelle == "ouinon" %}
  							<input type="radio" name="reponse" id="{{ reponse.libelle }}" value="{{ reponse.id }}">
  							<label for="{{ reponse.libelle }}">{{ reponse.libelle }}</label><br>
						{% elif question_ligne.question.typeQuestion.libelle == "saisie" %}
							<input type="textarea" name="reponse"><br />
						{% elif question_ligne.question.typeQuestion.libelle == "choixMultiple" %}
							<input type="checkbox" name="{{ reponse.libelle }}" id="{{ reponse.libelle }}" value="{{ reponse.id }}"/> 
							<label for="{{ reponse.libelle }}">{{ reponse.libelle }}</label><br />
						{% endif %}

					{% endfor %}

					<button  type="submit" class="btn btn-primary ">Valider</button>

				</form>

			</section>

		{% elif error %}

			<section class="container-fluid">
				
				<header class="page-header well">
					<a href="{% url 'accueil' %}" title="cliquer ici pour retourner à la page d'acceuil">Accueil</a>
					<h1 class="text-center">Vous avez déjà répondu à cette question </h1>
				</header>

			</section>
			
		{% else %}

			<section class="container-fluid">
				
				<header class="page-header well">
					<a href="{% url 'accueil' %}" title="cliquer ici pour retourner à la page d'acceuil">Accueil</a>
					<h1 class="text-center">Aucune question </h1>
				</header>

			</section>
			
		{% endif %}

	{% endif %}

</body>

</html>