<!DOCTYPE html>

<html>
	<head>
		<title>Question en cours</title>
		<meta CHARSET="utf-8" />

		{% load staticfiles %}
		<!-- CSS -->
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap.min.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap-responsive.min.css" %}' media="screen" />
		<link rel="stylesheet" type="text/css" href='{% static "appli/css/style.css" %}' media="screen" />
		<link rel="stylesheet" type="text/css" href='{% static "appli/flipcountdown-master/jquery.flipcountdown.css" %}' media="screen"/>
		
		<!-- JS -->
		<script src='{% static "appli/bootstrap/js/jquery.js" %}'></script>	
		<script src='{% static "appli/bootstrap/js/styleSup.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/js/jquery.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/bootstrap/js/bootstrap.min.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/flipcountdown-master/jquery.flipcountdown.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/jquery-qrcode-master/jquery.qrcode.min.js" %}'></script>
		<script src='{% static "appli/js/jscharts.js" %}'></script>

		<script>
			$(function(){
				var temps;
				var tableauTemps;
				var seconde;
				var monBool = true;

				temps = "{{question_ligne.dureeActivite}}";
				tableauTemps = temps.split(":");

				tableauTemps[0] = parseInt(tableauTemps[0]);
				tableauTemps[2] = parseInt(tableauTemps[2]);
				tableauTemps[1] = parseInt(tableauTemps[1]);
				seconde = (tableauTemps[0]*3600) + (tableauTemps[1]*60) + (tableauTemps[2]);

				var NY = Math.round(((new Date()).getTime()/1000)+seconde);
				//var NY = Math.round((new Date('1/01/2015 00:00:01')).getTime()/1000);
				$('#flipcountdownbox1').flipcountdown({
					size:'lg',
					tick:function(){
						var nol = function(h){
							return h>9?h:'0'+h;
						}

						if (monBool) {
							var  range = NY-Math.round((new Date()).getTime()/1000),
							secday = 86400, sechour = 3600,
							days  = parseInt(range/secday),
							hours = parseInt((range%secday)/sechour),
							min = parseInt(((range%secday)%sechour)/60),
							sec = ((range%secday)%sechour)%60;

							if (nol(hours) == '00' && nol(min) == '00' && nol(sec) ==  '00') {
								monBool = false;
							}

							return nol(hours)+' '+nol(min)+' '+nol(sec);
						}
					}
				});

				var url = "{% url 'question_reponse' enseignant_id=user.id %}";
				$('#qrcode').qrcode({
					width: 512,
					height: 512,
					render	: "canvas",
					text	: url
				});	

				{% if question_ligne %}
					{% if question_ligne.question.typeQuestion.libelle != "saisie" %}
						setInterval(function(){
							$.ajax({
						       	url : "{% url 'stats' question_ligne_id=question_ligne.id %}",
						       	type : 'GET',
						       	success : function(result){
						       		$('div#stats').html(result);
							    }
						    });
						}, 5000);
					{% endif %}
				{% endif %}
			});
		</script>
	</head>
	<body>

	<!-- Si l'utilisateur est connecté -->
	{% if user.is_authenticated %}
		<section class="container-fluid">
			
			<header class="page-header">
				<a id="lien" href="{% url 'accueil' %}" title="cliquer ici pour revenir à l'acceuil Enseignant">Accueil</a>
			</header>
			<div class="row">

				<div class="col-lg-6">
					<div id="qrcode"></div>
				</div>

				<div class="col-lg-6">
					<section id="question" class="container-fluid text-center ">
			
						<h1>{{question_ligne.question.libelle}}</h1>
						<div id="flipcountdownbox1"></div>
						<section class="btn-group">

							{% if question_ligne.question.typeQuestion.libelle != "saisie" %}
								<button class="btn btn-primary btn-large graph" title="Afficher/masquer le graphique" data-toggle="collapse" data-target="#stats">
									<span class="glyphicon glyphicon-stats"></span> Graphique
								</button>
							{% endif %}
							<button class="btn btn-primary btn-large" title="Afficher/masquer la réponse" data-toggle="collapse" data-target="#reponses">
								Réponse(s)
							</button>

							<!-- <button class="btn btn-primary btn-large" title="Cliquer ici pour arréter le compte à rebourg" onclick="stopTime()">
								Stop
							</button> -->
						</section>
					</section>
					
					<div id="reponses" class="collapse">
						Réponses
						<br />
						<ul>
							{% for reponse in reponses %}
								<li class='noneStyle'>
									{% if reponse.reponseValide == True %}
										<span class="glyphicon glyphicon-ok" style='color:green'></span>
									{% elif reponse.reponseValide == False %}
										<span class="glyphicon glyphicon-remove" style='color:red'></span>
									{% endif %}
									{{ reponse.libelle }}
								</li>
							{% endfor %}

							{% for reponse in maReponse %}{{ question.id }}
								<li class='noneStyle'>
									{% if reponse.reponseValide == True %}
										<span class="glyphicon glyphicon-ok"></span>
									{% elif reponse.reponseValide == False %}
										<span class="glyphicon glyphicon-remove"></span>
									{% endif %}
									{{ reponse.libelle }}
								</li>
							{% endfor %}
						</ul>
						
					</div>
					
					<div id="stats" class="collapse"></div>
				</div>

			</div>
			
	{% else %}
		{% if question_ligne %}

			<section class="container-fluid">
				
				<header id="headquestetu" class="page-header well">
					<a href="{% url 'accueil' %}" title="Page d'acceuil">Acceuil</a>
				</header>
			
				<div id="question" class="text-center">
					<h3>{{ question_ligne.question.libelle }}</h3>
				</div>

				<form action="{% url 'reponse' question_ligne_id=question_ligne.id %}" method="POST">{% csrf_token %}

					<input type="hidden" name="question" value="{{ question_ligne.question.id }}">

					{% for reponse in reponses %}

						{% if question_ligne.question.typeQuestion.libelle == "ouinon" %}
							<input type="radio" name="reponse" id="{{ reponse.libelle }}" value="{{ reponse.id }}">
							<label for="{{ reponse.libelle }}">{{ reponse.libelle }}</label><br>
						{% elif question_ligne.question.typeQuestion.libelle == "saisie" %}
							<input type="textarea" name="reponse"><br />
						{% elif question_ligne.question.typeQuestion.libelle == "choixMultiple" %}
							<input type="checkbox" name="{{ reponse.libelle }}" id="{{ reponse.libelle }}" value="{{ reponse.id }}"/>
							<label for="{{ reponse.libelle }}">{{ reponse.libelle }}</label><br />
						{% endif %}

					{% endfor %}

					<button  type="submit" class="btn btn-primary ">Valider</button>

				</form>

			</section>

		{% elif error %}

			<section class="container-fluid">
				
				<header class="page-header well">
					<a href="{% url 'accueil' %}" title="cliquer ici pour retourner à la page d'acceuil">Accueil</a>
					<h1 class="text-center">Vous avez déjà répondu à cette question </h1>
				</header>

			</section>
			
		{% else %}

			<section class="container-fluid">
				
				<header class="page-header well">
					<a href="{% url 'accueil' %}" title="cliquer ici pour retourner à la page d'acceuil">Accueil</a>
					<h1 class="text-center">Aucune question </h1>
				</header>

			</section>
			
		{% endif %}

	{% endif %}

</body>

</html>