<!DOCTYPE html>
<html>
	<head>
		<title>Nouvelle Question</title>
		<meta CHARSET="utf-8" />
		<!-- Librairire bootstrap-->
		{% load staticfiles %}
		<script type="text/javascript" src='{% static "appli/js/jquery.js" %}'></script>
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap.min.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap-responsive.min.css" %}' media="screen" />
		<script src='{% static "appli/bootstrap/js/bootstrap.min.js" %}'></script>
		<link rel="stylesheet" type="text/css" href='{% static "appli/css/style.css" %}' media="screen" />
		<!--Autres-->
			
		<script type="text/javascript" src='{% static "appli/js/canvasjs.min.js" %}'></script>
		<script type="text/javascript" src='{% static "appli/js/styleSup.js" %}'></script>
		<script type="text/javascript">
			$(function() {

				$("input[name='champReponses_lib']").val("");
				$("input[name='champReponses_bool']").val("");

				var MAX_FIELDS = 9;
				var fields = 1;
				var insertion;
				var heure, minute, seconde;

				$("select[name='typeQuestion']").on('change', function() {
					var typeQuestion = $("select[name='typeQuestion'] option:selected").html();
					if(typeQuestion == "ouinon") {
						MAX_FIELDS = 2;
						$("input[name='add']").show();
						$('input[type="checkbox"]').show();
						$('input[type="checkbox"]').removeAttr("disabled");
						$('input[type="checkbox"]').css({"opacity":1});
					}else if(typeQuestion == "saisie"){
						MAX_FIELDS = 1;
						$("input[name='add']").hide();
						$("input[type='checkbox']").attr("checked", "checked");
						$('input[type="checkbox"]').attr("disabled", "disabled");
						$('input[type="checkbox"]').css({"opacity":0.3});
					}else if(typeQuestion == "choixMultiple"){
						MAX_FIELDS = 9;
						$("input[name='add']").show();
						$('input[type="checkbox"]').show();
						$('input[type="checkbox"]').removeAttr("disabled"); 
						$('input[type="checkbox"]').css({"opacity":1});
					}
					$("div#reponses > div > label.fields").each(function(index){
						if(index+1 > MAX_FIELDS){
							$(this).remove();
						}
					});
				});

				$("input[name='add']").on('click', function(e) {
					e.preventDefault();
					var typeQuestion = $("select[name='typeQuestion'] option:selected").html();
					if(typeQuestion == "ouinon") {
						MAX_FIELDS = 2;
					}else if(typeQuestion == "saisie"){
						MAX_FIELDS = 1;
					}else if(typeQuestion == "choixMultiple"){
						MAX_FIELDS = 9;
					}
					var fields = $("div#reponses > div > label.fields").length;
					if (fields < MAX_FIELDS) {
						insertion = "<input type=\"text\" name=\"reponse\" class=\"reponse\"> <input type=\"checkbox\" name=\"choix\" value=\"false\">";
						$('label:last').after( '<label class="fields"> ' + (fields+1) + ' </label>' );
						$('label:last').append(insertion);
					}

				});

				$("button[name='submit']").click(function() {

					heure = $("select[name='listeHeure']").val() <= 9 ? "0"+$("select[name='listeHeure']").val() : $("select[name='listeHeure']").val();
					minute = $("select[name='listeMinute']").val() <= 9 ? "0"+$("select[name='listeMinute']").val() : $("select[name='listeMinute']").val();
					seconde = $("select[name='listeSeconde']").val() <= 9 ? "0"+$("select[name='listeSeconde']").val() : $("select[name='listeSeconde']").val();
					$("input[name='temps']").val(heure +':'+ minute +':'+ seconde);

					$("input[name='reponse']").each(function(){
						if ($(this).val() != "") {
							if ($("input[name='champReponses_lib']").val() == "") {
								$("input[name='champReponses_lib']").val($("input[name='reponse']:first").val());
							}
							else {
								$("input[name='champReponses_lib']").val($("input[name='champReponses_lib']").val() +"|"+ $(this).val());
							}
						}
					});

					$("input[name='choix']").each(function(){
						if ($("input[name='champReponses_bool']").val() == "") {
							$("input[name='champReponses_bool']").val($(this).prop('checked'));
						}
						else {
							$("input[name='champReponses_bool']").val($("input[name='champReponses_bool']").val() +"|"+ $(this).prop('checked'));
						}
					});

					if( $.trim($('textarea[name="intituleQuestion"]').val()) == ""){
						alert("Veuillez saisir l'intitulé de la question");
						return false;
					}


				});
			});
		</script>	
	</head>
	<body>
		<section class="container-fluid">
			<header class="page-header">
				<a href="../accueil" title="Cliquer ici pour revenir à l'accueil">Accueil</a>
			</header>

			<form class="well" method="POST">{% csrf_token %}
				<fieldset>
					<legend class="legend">Création de question</legend>

<!-- TYPE QUESTION -->
					<div class="row">
						<div class="col-sm-4 col-md-3 col-lg-3" >
							<label for="id_typeQuestion" title="Saisissez un type de question">Type de la question :</label><br/>
							{{ form.typeQuestion }}
						</div>
					</div>

<!-- LIBELLE QUESTION -->
					<div class="row">
						<div class="col-sm-4 col-md-3 col-lg-3"><br/>
							<label for="id_intituleQuestion" title="Saisissez un intitulé de question">Intitulé de la question :</label><br/>
							{{ form.intituleQuestion }}
						</div>
					</div>

<!-- TEMPS QUESTION -->
					<div class="row"><br/>
						<div class="col-sm-4 col-md-3 col-lg-3">
							<label for="id_temps" title="Saisissez une durée pour la question">Durée (hh:mm:ss):</label><br/>
							{{ form.temps }}
							{{ form.listeHeure }}
							: {{ form.listeMinute }}
							: {{ form.listeSeconde }}
						</div>
					</div>

<!-- REPONSES QUESTION -->
					<div id="reponses" class="row">
						<div class="col-xs-7 col-sm-4 col-md-4 col-lg-3"><br/>
							<label for="reponses">Réponse(s) : </label>
							<br />
							<label class="fields">1
								<input type="text" name="reponse" class="reponse"/>
								<input type="checkbox" name="choix"/>
							</label>
							<br />
							<input name="add" type="button" value="Ajouter une réponse" class="btn btn-primary btn-xs"/>
						</div>
					</div>

<!-- CREATION QUESTION -->
					<div class="row">
						<div class="col-sm-4 col-md-3 col-lg-3"><br/>
							<button name="submit" class="btn btn-primary btn-large" title="cliquer ici pour créer la question">Créer la Question </button>
						</div>
					</div>
				</fieldset>
				<input name="champReponses_lib" type="hidden"/>
				<input name="champReponses_bool" type="hidden"/>
			</form>
		</section>
	</body>
</html>