<!DOCTYPE html>
<html>
	<head>
		<title>Nouvelle Question</title>
		<meta CHARSET="utf-8" />
		<!-- Librairire bootstrap-->
		{% load staticfiles %}
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap.min.css" %}' media="screen" />
		<link rel="stylesheet" href='{% static "appli/bootstrap/css/bootstrap-responsive.min.css" %}' media="screen" />
		<script src='{% static "appli/bootstrap/js/bootstrap.min.js" %}'></script>
		<link rel="stylesheet" type="text/css" href='{% static "appli/css/style.css" %}' media="screen" />
		<!--Autres-->
		<script type="text/javascript" src='{% static "appli/js/canvasjs.min.js" %}'></script>
		<script src='{% static "appli/js/styleSup.js" %}'></script>
		<script src='{% static "appli/js/jquery.js" %}'></script>	
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script><script type="text/javascript">
			$(document).ready(function(){

				var MAX_FIELDS = 9;
				var fields = 1;
				var insertion;

				$(":input[name='add']").click(function(e) {
					e.preventDefault();
					if (fields < MAX_FIELDS) {
						insertion = "<input type=\"text\" name=\"reponse\" class=\"reponse\"><input type=\"checkbox\" name=\"choix"+(++fields)+"\" value=\""+fields+"\">";
						$('label:last').after( '<label>'+fields+'</label>' );
						$('label:last').append(insertion);
					}
				});

				$(":button[name='submit']").click(function() {
					$("input[name='reponse']").each(function(){
						if ($("input[name='champReponses']").val() == "") {
							$("input[name='champReponses']").val($("input[name='reponse']:first").val());
						}
						else {
							$("input[name='champReponses']").val($("input[name='champReponses']").val() +"|"+ $(this).val());
						}
					});
				});
			});
		</script>	
	</head>
	<body>
		<section class="container-fluid">
			<header class="page-header">
				<a href="../accueil" title="cliquer ici pour revenir à l'acceuil">Accueil</a>
			</header>

			<form class="well" method="POST">{% csrf_token %}
				<fieldset>
					<legend>Création de question</legend>
					<div class="row">
						<div class="col-md-3">
							<select class="form-control" name="type_question">
							{% for type in types %}
								<option value="{{ type.id }}">{{ type.libelle }}</option>
							{% endfor %}
							</select>
						</div>
					</div>


					<!-- <button class="btn" onclick="cache();" title="cliquer ici pour réinitialiser l'affichage">RAZ</button> -->
					<div class="row">
						<div class="col-md-3">
							<section>
								<br/>
								<label for="id_intituleQuestion" title="Saisissez un intitulé de question">
									Intitulé de la question :
								</label>
								{{ form.intituleQuestion }}
								
								<label for="id_temps" title="Saisissez une durée pour la question">
									Durée (en secondes): 
								</label>
								{{ form.temps }}
							</section>
						</div>
					</div>

					<div id="reponses" class="row col-md-3">
						<label for="reponses">Réponse(s) :</label><br>
						<label>1<input type="text" name="reponse" class="reponse"></label>

						<br><input name="add" type="button" value="Ajouter" class="btn btn-primary btn-xs"/>
					</div>

					<section class="text-center">
						<button name="submit" class="btn btn-primary btn-large" title="cliquer ici pour créer la question">
							Créer
						</button>
					</section>
					</fieldset>
					<input name="champReponses" type="hidden"/>
				</form>

		</section>
	</body>
</html>